
<div class="container">
  
  <div class="row">
    <div class="col-xs-12 col-sm-12 mx-auto form-login mb-5">
      <h2>Here are all the units I own</h2>
        <% @units.each do |unit| %>
        <h2> In <%= unit.place.name %> : <%= unit.bottles_inside %> bottles in case of <%= unit.capacity %></h2>
        <%= link_to "Update", edit_unit_path(unit), class: "btn btn-outline-secondary" %>
        <%= link_to "Remove unit", unit_path(unit), method: :delete,  data: { confirm: "Are you sure?"}, class: "btn btn-outline-secondary" %>
        <% end %>
        <br>
    </div>
  </div>

  <div class="row">
  <%= link_to "Add a case", new_unit_path(@unit), class: "btn btn-outline-secondary" %>
  </div>

</div>
