<div class="container">
  <div class="border border-danger">
    <%= simple_form_for(@place) do |f| %>
    <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
    </div>
    <div>
    <%= f.label :account_number %>
    <%= f.text_field :account_number %>
    </div>
    <div>
    <%= f.label :address %>
    <%= f.text_field :address %>
    </div>
    <%= f.submit %>
    <% end %>
   </div>
</div>